<a href="https://colab.research.google.com/github/pszachew/Delivery-Prediction/blob/master/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
deliveries = pd.read_json('https://raw.githubusercontent.com/pszachew/Delivery-Prediction/master/data/deliveries.jsonl', lines=True)

In [4]:
sessions = pd.read_json('https://raw.githubusercontent.com/pszachew/Delivery-Prediction/master/data/sessions.jsonl', lines=True)

In [5]:
products = pd.read_json('https://raw.githubusercontent.com/pszachew/Delivery-Prediction/master/data/products.jsonl', lines=True)

In [6]:
users = pd.read_json('https://raw.githubusercontent.com/pszachew/Delivery-Prediction/master/data/users.jsonl', lines=True)

In [7]:
deliveries.head()

   purchase_id  ... delivery_company
0        20001  ...              516
1        20002  ...              516
2        20003  ...              620
3        20004  ...              620
4        20005  ...              620

[5 rows x 4 columns]

In [8]:
sessions.head()

   session_id           timestamp  ...  offered_discount  purchase_id
0         124 2021-03-13 15:14:51  ...                 5          NaN
1         124 2021-03-13 15:16:00  ...                 5          NaN
2         124 2021-03-13 15:20:42  ...                 5      20001.0
3         125 2021-01-30 15:58:37  ...                 0          NaN
4         126 2021-07-05 05:36:36  ...                 0          NaN

[5 rows x 7 columns]

In [9]:
products.head()

   product_id  ...    price
0        1001  ...    58.97
1        1002  ...  2048.50
2        1003  ...  7639.00
3        1004  ...    49.99
4        1005  ...    49.99

[5 rows x 4 columns]

In [10]:
users.head()

   user_id              name     city                    street
0      102  Przemysław Hinca   Poznań  ul. Jana Sobieskiego 052
1      103      Alex Majnusz    Radom          ulica Krzywa 589
2      104     Dominik Jeske   Gdynia      pl. Zwycięstwa 75/14
3      105       Kaja Pielka  Wrocław      ul. Kusocińskiego 80
4      106    Marika Budzich  Wrocław           aleja Borowa 77